import { <%= className %> } from '../src/<%= selector %>';

const componentName = '<%= selector %>';

function defineCustomElement(): void {
  customElements.get(componentName) ||
    customElements.define(componentName, <%= className %>);
}

defineCustomElement();
