import { expect, fixture, html } from '@open-wc/testing';

import '../src/<%= className %>.js';
import { <%= className %> } from '../src/<%= className %>.js';

describe('<%= selector %>', () => {
  let element: <%= className %>;

  beforeEach(async () => {
    element = await fixture(
      html`<<%= selector %>></<%= selector %>>`
    );
    await element.updateComplete;
  });

  it('looks like the latest snapshot', async () => {
    await expect(element).shadowDom.to.equalSnapshot();
  });
});
