@import '../built/oscd/variables.css';

:root {
     /**
     * @tokens Colors
     * @presenter Color
     */
    --oscd-theme-primary: var(--color-oscd-sys-light-primary);
    --oscd-theme-on-primary: var(--color-oscd-sys-light-on-primary);
    --oscd-theme-primary-surface: var(--color-oscd-sys-light-primary-surface);
    --oscd-theme-primary-active: var(--color-oscd-sys-light-primary-active);
    --oscd-theme-secondary: var(--color-oscd-sys-light-secondary);
    --oscd-theme-on-secondary: var(--color-oscd-sys-light-on-secondary);
    --oscd-theme-state-danger: var(--color-oscd-sys-light-danger);
    --oscd-theme-primary-surface-active: var(--color-oscd-sys-light-primary-surface-active);
    --oscd-theme-primary-active: var(--color-oscd-sys-light-primary-active);

    --oscd-theme-textfield-fill: var(--color-oscd-ref-gray-gray200);
    --oscd-theme-textfield-ink: var(--color-oscd-ref-gray-gray900);
    --oscd-theme-textfield-line: var(--color-oscd-ref-gray-gray700);
    --oscd-theme-textfield-disabled-fill: var(--color-oscd-ref-gray-gray300);
    --oscd-theme-textfield-disabled-ink: var(--color-oscd-ref-gray-gray500);

    --oscd-theme-switch-disabled: var(--color-oscd-ref-gray-gray700);
    --oscd-theme-disabled: var(--color-oscd-ref-gray-gray700);
    /**
     * @tokens-end
     */
}

:root[dark] {
    --oscd-theme-primary: var(--color-oscd-sys-dark-primary);
    --oscd-theme-on-primary: var(--color-oscd-sys-dark-on-primary);
    --oscd-theme-primary-surface: var(--color-oscd-sys-dark-primary-surface);
    --oscd-theme-primary-active: var(--color-oscd-sys-dark-primary-active);
    --oscd-theme-secondary: var(--color-oscd-sys-dark-secondary);
    --oscd-theme-on-secondary: var(--color-oscd-sys-dark-on-secondary);
    --oscd-theme-state-danger: var(--color-oscd-sys-dark-danger);
    --oscd-theme-primary-surface-active: var(--color-oscd-sys-dark-primary-surface-active);
    --oscd-theme-primary-active: var(--color-oscd-sys-dark-primary-active);


    --oscd-theme-textfield-fill: var(--color-oscd-ref-gray-gray800);
    --oscd-theme-textfield-ink: var(--color-oscd-ref-gray-gray100);
    --oscd-theme-textfield-line: var(--color-oscd-ref-gray-gray300);
    --oscd-theme-textfield-disabled-fill: var(--color-oscd-ref-gray-gray700);
    --oscd-theme-textfield-disabled-ink: var(--color-oscd-ref-gray-gray500);

    --oscd-theme-switch-disabled: var(--color-oscd-ref-gray-gray300);
    --oscd-theme-disabled: var(--color-oscd-ref-gray-gray300);
}

